<main>
  <header class="container-fluid">
    <img
      src="../assets/images/Titulo-Game-Thrones.png"
      alt="GameOfThrones"
      class="img-fluid imagen-header"
    />
  </header>
  <section class="container-card gap-5">
    @for (elemento of datosApiGot; track elemento.id){
    <div class="caja-box">
      <div class="image">
        <img
          src="{{ elemento.imageUrl }}"
          class="card-img-top personajes"
          alt="{{ elemento.firstName }}"
        />
      </div>
      <div class="card-body">
        <h4 class="card-title">{{ elemento.fullName }}</h4>
        <h5>{{ elemento.title }}</h5>
        @if (elemento.family === "House Targaryen" || elemento.family ===
        "Targaryan") {
        <p class="Targaryen">
          {{ elemento.family }}
        </p>
        <div>
          <img
            class="Escudo-Targaryen"
            src="../assets/images/Casa-Targaryen.png"
            alt="{{ elemento.lastName }}"
          />
        </div>
        }@else if (elemento.family === "House Tarly") {
        <p class="card-text Tarly">
          {{ elemento.family }}
        </p>
        <div>
          <img
            class="Escudo-Tully"
            src="../assets/images/Casa-Tully.png"
            alt="{{ elemento.lastName }}"
          />
        </div>
        }@else if (elemento.family === "House Stark" || elemento.family
        ==="Stark") {
        <p class="card-text Stark">
          {{ elemento.family }}
        </p>
        <div>
          <img
            class="Escudo-Stark"
            src="../assets/images/Casa-Stark.png"
            alt="{{ elemento.lastName }}"
          />
        </div>
        } @else if (elemento.family === "House Baratheon" || elemento.family
        ==="Baratheon") {
        <p class="card-text Baratheon">
          {{ elemento.family }}
        </p>
        <div>
          <img
            class="Escudo-Baratheon"
            src="../assets/images/Casa-Baratheon.png"
            alt="{{ elemento.lastName }}"
          />
        </div>
        } @else if (elemento.family === "House Lannister" || elemento.family ===
        "House Lanister" || elemento.family === "Lannister") {
        <p class="card-text Lannister">
          {{ elemento.family }}
        </p>
        <div>
          <img
            class="Escudo-Lannister"
            src="../assets/images/./Casa-Lannister.png"
            alt="{{ elemento.lastName }}"
          />
        </div>
        } @else if (elemento.family === "House Greyjoy" || elemento.family
        ==="Greyjoy") {
        <p class="card-text Greyjoy">
          {{ elemento.family }}
        </p>
        <div>
          <img
            class="Escudo-Greyjoy"
            src="../assets/images/Casa-Greyjoy.png"
            alt="{{ elemento.lastName }}"
          />
        </div>
        } @else if (elemento.family === "House Clegane") {
        <p class="card-text Clegane">
          {{ elemento.family }}
        </p>
        } @else if (elemento.family === "House Baelish") {
        <p class="card-text Baelish">
          {{ elemento.family }}
        </p>
        } @else if (elemento.family === "House Seaworth") {
        <p class="card-text Seaworth">
          {{ elemento.family }}
        </p>
        } @else if (elemento.family === "House Tyrell" || elemento.family
        ==="Tyrell") {
        <p class="card-text Tyrell">
          {{ elemento.family }}
        </p>
        <div>
          <img
            class="Escudo-Tyrell"
            src="../assets/images/Casa-Tyrell.png"
            alt="{{ elemento.lastName }}"
          />
        </div>
        } @else if (elemento.family === "Bolton") {
        <p class="card-text Bolton">
          {{ elemento.family }}
        </p>
        <div>
          <img
            class="Escudo-Bolton"
            src="../assets/images/Casa-Bolton.png"
            alt="{{ elemento.lastName }}"
          />
        </div>
        } @else if (elemento.family === "Mormont") {
        <p class="card-text Mormont">
          {{ elemento.family }}
        </p>
        <div>
          <img
            class="Escudo-Mormont"
            src="../assets/images/Casa-Mormont.jpg"
            alt="{{ elemento.lastName }}"
          />
        </div>
        }@else if (elemento.lastName === "Martell") {
        <p class="card-text Martell">
          {{ elemento.lastName }}
        </p>
        <div>
          <img
            class="Escudo-Martell"
            src="../assets/images/Casa-Martell.png"
            alt="{{ elemento.lastName }}"
          />
        </div>
        }
      </div>
    </div>
    }
  </section>
  <footer class="gap-5">
    <div class="logo-footer">
      <img src="../assets/images/logo-footer2.png" alt="logo-stark" />
    </div>
    <!-- <div class="col mb-2 mt-4 logo-footer">
      <p class="text-body-light">© Game Of Thrones</p>
    </div> -->
    <div>
      <h5>API</h5>
      <a
        href="https://thronesapi.com/swagger/index.html?urls.primaryName=Game%20of%20Thrones%20API%20v2"
      >
        <img src="../assets/images/api.png" alt="API" />
      </a>
    </div>
    <div class="streaming">
      <h5>Plataforma</h5>
      <a href="https://www.hbo.com/game-of-thrones" target="_blank">
        <img src="../assets/images/hbo.png" alt="HBO" class="logo-hbo" />
      </a>
    </div>
    <div class="github">
      <h5>GitHub</h5>
      <a class="github" href="https://github.com/Cris02Vanegas" target="_blank">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          fill="currentColor"
          class="bi bi-github"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"
          />
        </svg>
      </a>
    </div>
  </footer>
</main>
<!--<router-outlet><router-outlet /> -->
